:root {
  --def-bg-color: #2341fc;
  --calc-body-color: #014b8f;
  --calc-num-color: #81c3f5;
  --calc-op-color: #002e57;
  --calc-sign-color: #fff09a;
  --calc-enter-color: #ffe44b;
  --calc-display-color: #d9f4f8;
  --calc-text-color: black;
  --calc-op-text-color: whitesmoke;
  --calc-func-text-color: #014b8f;
  --calc-border-color: #006ab3;
  --gap-const: .2rem;
}

body {
  background: var(--def-bg-color);
  background-image: url("water.webp");
  background-repeat: no-repeat;
  background-size: 100vw;
}

.body-main {
  display: flex;
  justify-content: center;
}

.bordered {
  border: .125rem solid var(--calc-border-color);
  border-radius: .5rem;
}

.calculator-box {
  padding: 1rem;
  background: var(--calc-body-color);
  color: var(--calc-text-color);
  width: 12.6rem;
  border-top-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5rem;
}

.display {
  display: flex;
  background: var(--calc-display-color);
  height: 3rem;
  width: 12.3rem;
  border-top-right-radius: 15px;
  padding: 1px;
  padding-right: 3px;
  font-size: 1.8rem;
  font-family: cursive;
  justify-content: right;
  align-items: end;
  color: black;
}

.btn-number {
  width: 3rem;
  height: 3rem;
  font-size: 18px;
  background: var(--calc-num-color);
  color: var(--calc-text-color);
  font-family: cursive;
}

.btn-operator {
  width: 3rem;
  height: 3rem;
  font-size: 20px;
  background: var(--calc-op-color);
  color: var(--calc-op-text-color);
  font-family: cursive;
}

.btn-tall {
  height: 6.05rem;
}

.btn-wide {
  width: 6.05rem;;
}

.btn-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  font-size: 20px;
  background: var(--calc-enter-color);
  color: black;
  font-family: cursive;
  height: 6.05rem;
  font-size: 14px;
}

.btn-clear {
  width: 3rem;
  font-size: 20px;
  background: var(--calc-sign-color);
  color: var(--calc-func-text-color);
  font-family: cursive;
  height: 3rem;
  font-size: 14px;
}

.btn-back {
  width: 3rem;
  font-size: 20px;
  background: var(--calc-sign-color);
  color: var(--calc-func-text-color);
  font-family: cursive;
  height: 3rem;
  font-size: 14px;
}

.btn-sign {
  width: 3rem;
  font-size: 20px;
  background: var(--calc-sign-color);
  color: var(--calc-func-text-color);
  font-family: cursive;
  height: 3rem;
  font-size: 14px;
}

/* flexbox containers */

.calc-container {
  display: flex;
  gap: var(--gap-const);
  /* border: 1px solid red; */
}

.calc-leftside {
  display: flex;
  flex-direction: column;
  gap: var(--gap-const);
  margin-top: 2px;
  /* border: 1px solid orange; */
}

.calc-rightside {
  display: flex;
  flex-direction: column;
  gap: var(--gap-const);
  margin-top: .4rem;
  margin-left: 1px;
  /* border: 1px solid yellow; */
}

.num-pad {
  display: flex;
  flex-direction: column;
  gap: var(--gap-const);
  margin-top: .3rem;
  /* border: 1px solid green; */
}

.num-row {
  display: flex;
  gap: var(--gap-const);
  /* border: 1px solid blue; */
}

.btm-row {
  display: flex;
  justify-content: space-between;

  margin-top: .3rem;
  /* border: 1px solid blue; */
}