
.calculator-box {
  padding: 1rem;
  background: #2377fc;
  width: 12.2rem;
  border-top-right-radius: 15px;
}

.display {
  background: #639fff;
  height: 3rem;
  width: 12rem;
  border-top-right-radius: 15px;
  padding: 1px;
}

.btn-number {
  width: 3rem;
  height: 3rem;
  font-size: 18px;
  background: #96d9ff;
  border: 1px solid #639fff;
  color: #231c9e;
  font-family: cursive;
  border-radius: 4px;
}

.btn-operator {
  width: 3rem;
  height: 3rem;
  font-size: 20px;
  background: #96d9ff;
  border: 1px solid #639fff;
  color: #231c9e;
  font-family: cursive;
  border-radius: 4px;
}

.btn-tall {
  height: 6.05rem;
}

.btn-wide {
  width: 6.05rem;;
}

.btn-enter {
  height: 6.05rem;
  font-size: 14px;
}

/* flexbox containers */

.calc-container {
  display: flex;
  gap: 1px;
  /* border: 1px solid red; */
}

.calc-leftside {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 2px;
  /* border: 1px solid orange; */
}

.calc-rightside {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 2px;
  margin-left: 1px;
  /* border: 1px solid yellow; */
}

.num-pad {
  display: flex;
  flex-direction: column;
  gap: 1px;
  /* border: 1px solid green; */
}

.num-row {
  display: flex;
  gap: 1px;
  /* border: 1px solid blue; */
}